BASE_DIR=/apps/docker

WX_LATITUDE=xx.xxxx
WX_LONGITUDE=-xxx.xxxx

WX_WU_STATION_ID=wunderground_station_id
WX_WU_STATION_KEY=your_wunderground_station_key

WX_CWOP_STATION_ID=
WX_CWOP_VALIDATION_CODE=

WX_PWSWEATHER_STATION_ID=pwsweather_station_id
WX_PWSWEATHER_API_KEY=your_pwsweather_api_key

WX_OWM_API_KEY=your_openweathermap_api_key
WX_OWM_STATION_ID=owm_station_id

# Optional -- leave blank to skip
WX_WINDY_STATION_ID=
WX_WINDY_STATION_PASSWORD=

# Optional -- leave blank to skip
WX_WEATHERCLOUD_ID=
WX_WEATHERCLOUD_KEY=

WX_HEALTHCHECKS_URL=https://healthchecks/ping/your-uuid-here
STATE_FILE=/path/to/state/file.json
